NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
API_JWT_SECRET=            # must match apps/api's JWT_SECRET
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
