NODE_ENV=development
PORT=3001
MONGODB_URI=mongodb://root:root@localhost:27017/meetings?authSource=admin
JWT_SECRET=
BOT_SERVICE_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
CORS_ORIGIN=http://localhost:3000
SWAGGER_ENABLED=            # "true" or "false"; defaults to true unless NODE_ENV=production
